.recentf
auto-save-list/
backup/
bookmarks
elpa/
eshell/
helm-adaptive-history
projectile-bookmarks.eld
projectile.cache
pyim/
tramp
server/
transient/
url/

# org
.org-id-locations
org-clock-save.el
